body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
  color: blue;
}
footer{
  text-align: right;
  color: chartreuse;
  font-size: 20px;
=======
  color:fuchsia;
>>>>>>> cabezera
}